.vision__card_one{
    transition: all .3s ease .3s;
}

.vision__card_two{
    transition: all .3s ease .5s;
}

.vision__card_three{
    transition: all .3s ease .7s;
}

.vision__card_content{
    p{
        color: #000;
    }
}