// Members Card One

.members__card_one{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_one-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_one-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_one-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_one-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Two

.members__card_two{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_two-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_two-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_two-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_two-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Three

.members__card_three{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_three-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_three-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_three-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_three-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Four

.members__card_four{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_four-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_four-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_four-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_four-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Five

.members__card_five{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_five-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_five-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_five-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_five-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Six

.members__card_six{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_six-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_six-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_six-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_six-enter-done{
    opacity: 1;
    transform: translateY(0px);
}

// Members Card Seven

.members__card_seven{
    opacity: 0;
    transform: translateY(500px);
}

.members__card_seven-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_seven-exit {
    opacity: 1;
    transform: translateY(0px);
}

.members__card_seven-exit-active {
    opacity: 0;
    transform: translateY(500px);
}

.members__card_seven-enter-done{
    opacity: 1;
    transform: translateY(0px);
}